<!-- base를 구축함으로써 스타일시트의 유지보수 측면을 유용하게 설계한다 -->
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom">

    <a class="navbar-brand" href="{{ url_for('main.index') }}">
        <img src="{{ url_for('static', filename='logo100.png') }}" alt=""  width="30" height="30" class="d-inline-block align-text-top"> O N I X
    </a>

    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse"
            data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse flex-grow-0" id="navbarNav">

    {% if g.user %}
    <ul class="navbar-nav">
        <li class="navbar-nav">
            <a class="nav-link" href="{{ url_for('auth.logout') }}">{{ g.user.username }}님 로그아웃</a>
        </li>
    </ul>
    {% else %}
    <ul class="navbar-nav">
        <li class="navbar-nav">
            <a class="nav-link" href="{{ url_for('naver.Naverbook') }}">네이버책</a>
        </li>
        <li class="navbar-nav">
            <a class="nav-link" href="{{ url_for('movierank.Movierank') }}">영화순위</a>
        </li>
        <li class="navbar-nav">
            <a class="nav-link" href="{{ url_for('movierank.Navermovie') }}">영화검색</a>
        </li>
        <li class="navbar-nav">
            <a class="nav-link" href="{{ url_for('auth.signup') }}">계정생성</a>
        </li>
        <li class="navbar-nav">
            <a class="nav-link" href="{{ url_for('auth.login') }}">로그인</a>
        </li>
    </ul>
    {% endif %}
    </div>
</nav>
{% block content %}
{% endblock %}

<script src="{{ url_for('static', filename='jquery-3.6.0.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
</body>
</html>